@dnd-grey: #F5F5F5; // whitesmoke
@blue: #00CED1; // darkturquoise
@green: #3CB371; //mediumseagreen
@orange: #D1872B;

@background-color: @dnd-grey;
@element-background-color: white;
@header-background-color: black;
@table-row-hover-color: @dnd-grey;

@button-color-blue: @blue;
@button-color-green: @green;
@button-color-orange: @orange;

@text-color-dark-background: white;
@input-border-color: @dnd-grey;

@encounter-difficulty-easy-color: greenyellow;
@encounter-difficulty-medium-color: green;
@encounter-difficulty-hard-color: blue;
@encounter-difficulty-epic-color: red;
@encounter-difficulty-indicator-color: black;