.button-row {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.button {
    border: none;
    color: @text-color-dark-background;
    height: 2.5em;
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
    flex: 1;
}

.button.mod-blue {
    background-color: @button-color-blue;
}

.button.mod-green {
    background-color: @button-color-green;
}

.button.mod-orange {
    background-color: @button-color-orange;
}

.input {
    border: 1px solid @input-border-color;
    font-size: 1em;
    font-family: 'Roboto Slab', serif;
    background-color: transparent;
    padding: 5px;
}

.input.mod-small {
    width: 2em;
}

.input:focus {
  outline: 0;
}